<!--Main Content Start-->
<div class="main-content p40 innerpagebg wf100">
    <!--Register Page Start-->
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                </div>            
                <!--Form Start-->
                <div class="col-md-6">
                <div class="contact-form">
                    <h2>Register</h2>
                    <ul class="form-row">
                        <li class="full-col">
                            <input type="email" class="form-control" placeholder="Email">
                        </li>
                        <li class="half-col">
                            <input type="password" class="form-control" placeholder="Password">
                        </li>
                        <li class="half-col">
                            <input type="password" class="form-control" placeholder="Confirm Password">
                        </li>
                        <li class="full-col">
                            <button type="button">Register Now</button>
                        </li>
                    </ul>
                </div>
                </div>
                <!--Form End--> 
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>
    <!--Register Page End--> 
</div>
<!--Main Content End--> 