<div class="main-content p80 wf100">
    <!--Customer Page Start-->
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="h3-section-title"> <strong>Welcome back</strong>

                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="game-statistics">
                        <h4 class="profile-table-header">Your details</h4>
                        <table class="custom-table">
                            <tbody>
                                <tr>
                                    <td>Name:</td>
                                    <td>Garreth Hall</td>
                                </tr>
                                <tr>
                                    <td>Contact Number:</td>
                                    <td>082 389 75 79</td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td>garreth@digitalcrayon.co.za</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--Orders Start-->
                <div class="col-md-8">
                    <div class="match-results-table">
                        <h4 class="profile-table-header">Order History</h4>
                        <table class="custom-table">
                            <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Order Number</td>
                                    <td>Order Date</td>
                                    <td>Items</td>
                                    <td>Status</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>ORD-1031</td>
                                    <td>16-06-2022</td>
                                    <td>Test</td>
                                    <td>Pending</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>ORD-1011</td>
                                    <td>12-06-2022</td>
                                    <td>Test</td>
                                    <td>Delivered</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>ORD-1004</td>
                                    <td>12-05-2022</td>
                                    <td>Test</td>
                                    <td>Cancelled</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <img src="images/advertisehere.jpg" alt="" class="img-responsive">
                </div>
                <!--Orders End-->
            </div>

        </div>
    </div>
    <!--Customer Page End-->
</div>